http://dev.tawridco.com {
        reverse_proxy admin {
                header_up X-Forwarded-Proto https
                header_up X-Forwarded-For {header.CF-Connecting-IP}
        }
}

http://test.tawridco.com {
        reverse_proxy 138.197.33.132:8080
}
